[Unit]
Description=Shairport Sync - AirPlay Audio Receiver %I
After=sound.target
Requires=avahi-daemon.service
After=avahi-daemon.service
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/usr/local/bin/shairport-sync --log-to-syslog -c /etc/shairport-sync%I.conf
User=shairport-sync
Group=shairport-sync
SyslogIdentifier=shairport-sync-%I

[Install]
WantedBy=multi-user.target
